.root {
  min-height: 100vh;
  background-color: var(--mantine-color-custom-grey-0);

  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: 32px;
  padding-top: 106px;
  display: flex;
  justify-content: center;
}

.mainWrapper {
  flex-grow: 1;
  max-width: 1440px;
  padding: 0 48px;
}
