.input {
  padding: var(--input-padding-y, 0) var(--_input-padding-right) var(--input-padding-y, 0)
    calc(var(--_input-padding-left, 0) + 9px);
  --_input-size: 0;

  &::placeholder,
  &:disabled,
  &:disabled::placeholder {
    color: '#a3a3a3 !important';
  }

  &:hover,
  &:active,
  &:not(:placeholder-shown) {
    &[aria-invalid='false'] {
      border-color: var(--mantine-color-custom-blue-5);
    }
  }
}

.inputError {
  color: var(--mantine-color-gray-9);

  &,
  &:focus-within {
    border-color: var(--mantine-color-red-6);
  }
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}

.section {
  padding-left: 10px;
}

.root {
  font-size: 16px;

  &[data-size='sm'] {
    font-size: 14px;
    .input {
      font-size: 14px;
    }
  }
}
