.input {
  font-size: 16px;

  &::placeholder,
  &:disabled,
  &:disabled::placeholder {
    color: '#a3a3a3 !important';
  }

  &:hover,
  &:active,
  &:not(:placeholder-shown) {
    border-color: var(--mantine-color-custom-blue-5);
  }
}

.inputError {
  color: var(--mantine-color-gray-9);

  &,
  &:focus-within {
    border-color: var(--mantine-color-red-6);
  }
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
